{{ define "home" }}
<!doctype html>
<html lang="en">
    <head>
        <title>Test title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body> 
        <a href="/document?type=monthly&date=2024-09" target="_blank"><button>Generate monthly report</button></a>
        <div>
            <h1>Donations</h1>
            {{ range .Donations }}
            <li>Client name: {{ .ClientName }}</li>
            <li>Client email: {{ .ClientEmail }}</li>
            <li>Gross: {{ .Gross }}</li>
            <li>Fee: {{ .Fee }}</li>
            <li>Net: {{ .Net }}</li>
            <li>Created: {{ .Created }}</li>
            <a href="/document?type=donation&ID={{ .ID }}" target="_blank"><button>Invoice</button></a>
            <br>
            {{ else }}
            <li>No donations found.</li>
            {{ end }}
        </div>
        <div>
            <h1>Payouts</h1>
            {{ range .Payouts }}
            <li>ID: {{ .ID }}</li>
            <li>Gross: {{ .Gross }}</li>
            <li>Fee: {{ .Fee }}</li>
            <li>Net: {{ .Net }}</li>
            <li>Created: {{ .Created }}</li>
            <form action="/document" method="POST" target="_blank">
                <input type="hidden" name="type" value="payout">
                <input type="hidden" name="ID" value="{{ .ID }}">
                <button type="submit">Generate report</button>
            </form>
            <br>
            {{ else }}
            <li>No payouts found.</li>
            {{ end }}
        </div>
    </body>
</html>
{{ end }}
