{{ define "login" }}
{{ template "head" }}
<main class="bg-background min-h-screen relative flex flex-col items-center justify-center p-6 py-12 gap-12">
    <img src="/static/images/hintermann-logo-circle.png" class="w-[100px] h-[100px]">
    <form method="POST" action="/login" class="w-full flex flex-col gap-4">
        <input 
            id="username" 
            class="block h-16 rounded-lg border px-4 text-lg"
            name="username" 
            type="text" 
            placeholder="Username" 
            required 
        >
        <input 
            id="password" 
            class="block h-16 rounded-lg border px-4 text-lg"
            name="password" 
            type="text" 
            placeholder="Password" 
            required 
        >
        {{ template "button" (arr "Conectează-te" "" "" "" "") }}
    </form>
    <div class="w-[100px] h-[100px]"></div>
</main>
{{ template "foot" }}
{{ end }}
