{{ define "monthly" }}
{{ template "head" }}
{{ if .Payouts }}
<main class="min-h-screen relative flex flex-col gap-12">
    <section class="bg-background px-6 py-12 flex flex-col gap-8">
    <h1 class="font-display text-3xl text-secondary">Raport {{ .Date }}</h1>
        <div class="flex flex-col gap-2">
            <p class="flex justify-between">Brut: <span>{{ .Gross }}</span></p>
            <p class="flex justify-between">Plăți Stripe: <span>{{ .Fee }}</span></p>
            <p class="flex justify-between font-bold">Net: <span>{{ .Net }}</span></p>
        </div>
        <a href="/document?type=monthly&date={{ .Date }}" target="_blank" class="w-full">
            {{- template "button" (arr "Raport lunar PDF" "w-full" "" "" "") -}}
        </a>
    </section>
    <div>
        {{ range .Payouts }}
        <h3>Payout</h3>
        <li>Created: {{ .Created }}</li>
        <li>Gross: {{ .Gross }}</li>
        <li>Fee: {{ .Fee }}</li>
        <li>Net: {{ .Net }}</li>
        <li>
            <a href="/document?type=payout&ID={{ .ID }}" target="_blank">
                <button>Generate payout report pdf</button>
            </a>
        </li>
        <ul>
            {{ range .Donations }}
            <h3>Donation</h3>
            <li>Created: {{ .Created }}</li>
            <li>Client name: {{ .ClientName }}</li>
            <li>Gross: {{ .Gross }}</li>
            <li>Fee: {{ .Fee }}</li>
            <li>Net: {{ .Net }}</li>
            <li>
                <a href="/document?type=donation&ID={{ .ID }}" target="_blank">
                    <button>Generate invoice pdf</button>
                </a>
            </li>
            {{ end }}
            {{ range .Fees }}
            <h3>Fee</h3>
            <li>Created: {{ .Created }}</li>
            <li>Description: {{ .Description }}</li>
            <li>Fee: {{ .Fee }}</li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
    {{ else }}
    <h1>No payouts for {{ .Date }}</h1>
    {{ end }}
</main>
{{ template "foot" }}
{{ end }}
